### IntelliJ IDEA ###
out/
.idea/  # Exclut le dossier .idea à la racine
**/*.iml
**/.mvn/
**/mvnw
**/mvnw.cmd
**/pom.xml
**/target/
**/*.log
**/workspace.xml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Images ###
*.jpg
**/img/

### Excel ###
*.csv

# Exclusion spécifique du projet "Jeu"
Jeu/.idea/
Jeu/*.iml
Jeu/.mvn/
Jeu/mvnw
Jeu/mvnw.cmd
Jeu/pom.xml
Jeu/target/
Jeu/*.log
